<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>Supermarket App</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Cheap NTC(Copyrighted)</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
                <li><a class="nav-link" href="/addProduct">Add new product</a></li>
                <li><a class="nav-link" href="/addFeedback">Feedback</a></li>
                <li><a class="nav-link" href="/addUser">Sign Up</a></li>
                <li><a class="nav-link" href="/Userlogin">Login</a></li>
                <input type="text" placeholder="Search..">
            </li> 
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <br>
        <div class="text-center"><h2>New User</h2></div>
        <br>
        <div class="text-center">
            <form action="/addUser" method="POST" enctype = "multipart/form-data">
                <label for="name">UserName:</label><br>
                <input type="text" id="name" name="name" required><br><br>

                <label for="contact">ContactNo:</label><br>
                <input type="number" id="contact" name="contact" min="0" step="1"required><br><br>

                <label for="dob">Date Of Birth:</label><br>
                <input type="date" id="dob" name="dob"required><br><br>

                <label for="password">Password:</label><br>
                <input type="text" id="password" name="password" required><br><br>

                <br>
                <button type="submit"onclick ="return confirm('Are you sure want to sign up (・ｏ・)？')">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>